body
{
  direction: ltr;
}

#pgaSVN
{
  float: right;
  text-align: right;
  padding-right: 5px;
}

#pgaSearch
{
  float: right;
  text-align: right;
  padding-right: 5px;
}

#pgaLanguages
{
  float: right;
  text-align: right;
  padding-right: 5px;
}

#pgaSectionMenu
{
  padding-left: 5px;
}

#pgaAd
{
  padding-right: 5px;
}

#pgaFooter
{
  text-align: right;
}
