# Redirect requests for files that have long since moved
Redirect permanent /pgadmin3/advocacy.php http://www.pgadmin.org/advocacy/
Redirect permanent /advocacy.php http://www.pgadmin.org/advocacy/

Redirect permanent /pgadmin3/development.php http://www.pgadmin.org/development/
Redirect permanent /development.php http://www.pgadmin.org/development/

Redirect permanent /download.php http://www.pgadmin.org/download/
Redirect permanent /pgadmin3/download.php http://www.pgadmin.org/download/

Redirect permanent /screenshots.php http://www.pgadmin.org/screenshots/
Redirect permanent /pgadmin3/screenshots.php http://www.pgadmin.org/screenshots/

Redirect permanent /support.php http://www.pgadmin.org/support/
Redirect permanent /pgadmin3/support.php http://www.pgadmin.org/support/

Redirect permanent /pgadmin3/translation.php http://www.pgadmin.org/translation/status.php
Redirect permanent /translation.php http://www.pgadmin.org/translation/status.php

Redirect permanent /faq/ http://www.pgadmin.org/pgadmin3/faq/

# Redirect the archives links
RedirectMatch 301 /archives/(.*)$ http://archives.postgresql.org/$1

RewriteEngine On

# Rewrite requests for documentation images. On developer.pgadmin.org, the following works
# nicely, but for reasons unknown it's totally borked on ferengi.postgresql.org.
# RewriteRule ^docs/dev/(.*)\.(png|jpg|gif)$ /svnrepo/pgadmin3/docs/en_US/$1\.$2 [QSA,L]

RewriteRule ^docs/dev/(.*)\.gif$ /svnrepo/pgadmin3/docs/en_US/$1\.gif [QSA,L]
RewriteRule ^docs/dev/(.*)\.jpg$ /svnrepo/pgadmin3/docs/en_US/$1\.jpg [QSA,L]
RewriteRule ^docs/dev/(.*)\.png$ /svnrepo/pgadmin3/docs/en_US/$1\.png [QSA,L]

RewriteRule ^docs/1\.4/(.*)\.gif$ /svnrepo/pgadmin3-1\.4/docs/en_US/$1\.gif [QSA,L]
RewriteRule ^docs/1\.4/(.*)\.jpg$ /svnrepo/pgadmin3-1\.4/docs/en_US/$1\.jpg [QSA,L]
RewriteRule ^docs/1\.4/(.*)\.png$ /svnrepo/pgadmin3-1\.4/docs/en_US/$1\.png [QSA,L]

RewriteRule ^docs/1\.6/(.*)\.gif$ /svnrepo/pgadmin3-1\.6/docs/en_US/$1\.gif [QSA,L]
RewriteRule ^docs/1\.6/(.*)\.jpg$ /svnrepo/pgadmin3-1\.6/docs/en_US/$1\.jpg [QSA,L]
RewriteRule ^docs/1\.6/(.*)\.png$ /svnrepo/pgadmin3-1\.6/docs/en_US/$1\.png [QSA,L]

RewriteRule ^docs/1\.8/(.*)\.gif$ /svnrepo/pgadmin3-1\.8/docs/en_US/$1\.gif [QSA,L]
RewriteRule ^docs/1\.8/(.*)\.jpg$ /svnrepo/pgadmin3-1\.8/docs/en_US/$1\.jpg [QSA,L]
RewriteRule ^docs/1\.8/(.*)\.png$ /svnrepo/pgadmin3-1\.8/docs/en_US/$1\.png [QSA,L]

# Requests like /docs/xx/yy need to be rewritten to /include/page.php?docset=xx&docpage=yy
RewriteRule ^docs/([a-zA-Z0-9\.]+)/(.+)$ /include/doc.php?docset=$1&docpage=$2 [QSA,L]

