/***************************************************************
 * TITLE: Common Stylesheet for Blue Haze                      * 
 * URI  : http://www.oswd.org/design/xxx/bluehaze/bluehaze.css *
 * MODIF: 2003-01-05 1608 +0800                                *
 ***************************************************************/

/* ###### Browser-specific Styles ###### */

/* For IE & Mozilla-based browsers: */


.LHS {
  direction: rtl;
  margin-top: 0;
  margin-right: 5;
  margin-bottom: 0px;
  margin-left: 2.5mm;
  padding: 0pt;
  float: right;
 clear: right
}

.RHS {
  direction: rtl;
  margin-top: 0;
 margin-right: 15mm;
    margin-bottom: 0px;
  margin-left: 2.5mm;
    padding: 0pt;
  float: right;
  clear: right;
}




/* ###### Body Text ###### */

body {
  direction: rtl;
  background-color: white;
  color: black;
  font-size: 95%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

h1, h2, h3 {
  direction: rtl;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.5ex;
}

img {
  border: none;
}

q {
  font-weight: bold;
  border-style: dotted;
  border-width: 2px;

  float: right;
}

acronym {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
}

code {
  font-family: "lucida console", monospace;
  font-size: 90%;
}

dt {
  direction: rtl;
  font-weight: bold;

}

dd {
  direction: rtl;
  padding-bottom: 1.5em;
}

#bodyText {
  direction: rtl;
  text-align: justify;
  line-height: 1.5em;
  #margin: 10mm 5mm 0 14em;
  padding: 1em 1em 1ex 1em;
    margin-right: 13em;
}

#bodyText p {
  direction: rtl;
  padding-bottom: 2ex;
}

#bodyText a {
  direction: rtl;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#bodyText a:hover {
  direction: rtl;
  border-bottom: none;
}

#bodyText .topOfPage {
  font-size: 90%;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: none;
  border: none;

  padding-right: 1ex;
  float: left;
}

.smallCaps {
  direction: rtl;
  font-variant: small-caps;
}


/* ###### Header ###### */

#header {
  direction: rtl;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: 2em;
  margin-bottom: 5mm;
  padding: 0 2.5mm 0 2.5mm;
  background-repeat: no-repeat;
}

.headerTitle {
  direction: rtl;
  border: none;
}

.menuBar {
  direction: rtl;
}

.locBar {
  direction: rtl;
}

.menuBar *, .locBar * {
  direction: rtl;
  text-decoration: none;
  font-weight: bold;
  padding-left: 1ex;
  padding-right: 1ex;
}

.menuBar a:hover, .locBar a:hover {
  direction: rtl;
  text-decoration: underline;
}


/* ###### Side Box ###### */

.sideBox {
  direction: rtl;
  border-style: solid none solid none;
  border-width: 2px 0 2px 0;
  width: 11em;
  margin-top: 5mm;
}

.sideBox div {
  direction: rtl;
  font-weight: bold;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  padding: 0.5ex 0.5em 0.5ex 0.75em;
}

.sideBox a, .sideBox a:hover, .sideBox span {
  direction: rtl;
  color: black;
  text-decoration: none;
  line-height: 1.25em;
  display: block;
  padding: 1.25ex 0.5em 1.25ex 0.75em;
}

.sideBox .thisPage {
  direction: rtl;
  font-weight: bold;
}


/* ###### Footer ###### */

#footer {
  padding-top: 0.75ex;
  padding-bottom: 0.75ex;
  clear: right;
}

#footer div {
  font-size: 85%;
  line-height: 1.25em;
  text-align: left;
    padding-left: 3mm;
  padding-right: 3mm;
}

#footer a:hover {
  text-decoration: none;
}

.footerLHS {
  float: right;
  clear: right;
  padding-right: 3mm;
  padding-left: 3mm;
}

/* ##### googleAd ##### */

.googleAd {
  width: 11em;
  padding-right: 1mm;
  padding-top: 3mm;
}

